*Main CSS file for responsive agency website HTML template @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap') body {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

.btn {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

.colored-text {
    color: #ff6058;
    font-weight: 800;
}

/* 
* Header 
*/

.main-header {
    height: 80px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    Padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
}

.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #ffffff
}

.btn-col .btn {
    font-size: 16px;
    font-weight: 600;
}

/*
hero-section
*/
#hero-section {
    height: 100vh;
    max-height: 950px;
    background-image: url(assets/img/Capture.JPG);
    background-size: cover;
    background-position: center center;
    position: relative;
}

#hero-section:before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 20;
    color: #ffffff;
    max-width: 960px;
}

.hero-content h3 {
    font-size: 22 px;
    font-weight: 600;
    margin-bottom: 40px;
    letter-spacing: 3px;
}

.hero-content h1 {
    font-size: 80 px;
    font-weight: 800;
    margin-bottom: 50px;
}

.hero-content p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 70px;
}

.hero-buttons .btn, .learn-more-btn {
    font-size: 20px;
    font-weight: 500;
    padding: 15 px 35 px;
}

/* *stats section */
.stats-section {
    height: 200px;
}

.stat col {
    height: 100%;
    position: relative
}

.stat-col span {
    display: block;
    font-family: "Roboto", sans-serif;
}

.stat-col span span {
    display: inline-block;
}

.stat-col span.number {
    font-size: 60px;
    Font-weight: 800 px;
    color: darkred;
}

.stat-col span.Label {
    font-size: 60px;
    Font-weight: 800 px;
}

/* *why us section */
.whyus-section {
    padding:80 px 0;
    background-color: #ffffff;
} 